/* @import '../../../stylesheet/vars.scss'; */

.TransactionAddForm__closeBtn {
  display: none;
}
@media screen and (min-width: 767px) {
  .TransactionAddForm__closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fff;
    display: flex;
    cursor: pointer;
    border: none;
    /* display: block; */
    width: 40px;
    height: 40px;
  }
  .TransactionAddForm__closeBtn:hover {
    background-color: #24cca7;
    border-radius: 50%;
  }
}

.TransactionAddForm__closeBtn svg {
  margin-left: 5px;
  margin-top: 10px;
}

.TransactionAddForm__title {
  /* font-family: Poppins; */
  margin-bottom: 40px;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000;
}
@media screen and (min-width: 768px) {
  .TransactionAddForm__title {
    font-size: 30px;
    /* line-height: 26px; */
  }
}

.TransactionAddForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Checkbox */
.checkbox__wrapper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.checkbox__span {
  font-weight: 700;
  font-style: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.Checkbox__button {
  margin: 0 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.active-income {
  color: #24cca7;
}

.active-spend {
  color: #ff6596;
}

.switch-icon__spend {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-transaction__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-switch-bg {
  border: 1px solid #e0e0e0;
}
.react-switch-handle {
  box-shadow: 0px 6px 15px rgba(156, 156, 158, 0.5);
}

.TransactionAddForm__input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.TransactionAddForm__addBtn {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  /* // font-family: Circe; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  background: #24cca7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.TransactionAddForm__cancelBtn {
  width: 300px;
  height: 50px;
  border: 1px solid #4a56e2;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  /* // font-family: Circe; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a56e2;
}

/* .transaction__title {
  font-family: $poppins;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
} */

/* .transaction__button {
  display: inline-block;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border: none;
  background-color: #24cca7;
  color: #ffffff;
  margin-bottom: 20px;
} */
/*
.transaction__button--cancel {
  background-color: inherit;
  border: 1px solid #4a56e2;
  color: #4a56e2;
  margin-bottom: 0;
} */

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  cursor: pointer;
  width: 190px;
}

.input:hover {
  border-color: #4a56e2;
}

.input:focus {
  border-color: #4a56e2;
}

.form__checkbox {
  margin-bottom: 40px;
}

.form__wrapper {
  position: relative;
}
@media screen and (max-width: 767px) {
  .form__wrapper {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  .form__wrapper {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .form__sum {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .form__sum {
    /* margin-right: 30px; */
    margin-bottom: 0;
  }
}

.form__text {
  margin-bottom: 50px;
  margin-top: 30px;
}

.text__input {
  width: 280px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .text__input {
    width: 410px;
    padding-bottom: 5px;
  }
}

.text__input::placeholder {
  color: #bdbdbd;
}

.sum__input {
  width: 280px;
  height: 34px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .sum__input {
    width: 190px;
  }
}

.sum__input::placeholder {
  color: #bdbdbd;
  padding-bottom: 10px;
}

.date__input {
  width: 280px;
  height: 34px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .date__input {
    margin-left: 30px;
    width: 190px;
  }
}

.date__icon {
  width: 24px;
  height: 24px;
  fill: #4a56e2;
  position: absolute;
  right: 5px;
  top: 78px;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .date__icon {
    top: 7px;
    /* right: 20px; */
  }
}

/* Select  */
.select__wrapper {
  position: relative;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .select__wrapper {
    margin-bottom: 30px;
  }
}

.select__icon {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 18px;
  height: 9px;
  cursor: pointer;
  pointer-events: none;
}
